In [2]:
import pandas as pd

In [3]:
filepath = 'raw_data/'

In [4]:
counties = pd.read_csv(filepath+'us_county_congressionalvote_2014.csv', header=0)
counties.head()

,id,fips,county_name,state_code,state_fips,county_fips,class_fips
0,84001001,1001,Autauga County,AL,1,1,H1
1,84001003,1003,Baldwin County,AL,1,3,H1
2,84001005,1005,Barbour County,AL,1,5,H1
3,84001007,1007,Bibb County,AL,1,7,H1
4,84001009,1009,Blount County,AL,1,9,H1

In [5]:
counties.drop(columns=['id', 'state_fips', 'county_fips', 'class_fips'], inplace=True)
counties.head()

   fips     county_name state_code
0  1001  Autauga County         AL
1  1003  Baldwin County         AL
2  1005  Barbour County         AL
3  1007     Bibb County         AL
4  1009   Blount County         AL

In [7]:
census = pd.read_csv(filepath+'county_2017-2021.csv', header=0)
census.head()

,geoid_2010,year,total_population,housing_units,occupied,vacant,renter_occ,white_perc,black_perc,asian_perc,...,rural_perc,bachelors_perc,hispanic_perc,poverty_perc,unemployment,turnover_perc,med_family_income_adj,med_gross_rent_adj,med_household_income_adj,median_value_adj
0,1001,2017-2021,58239.080916,24170.119365,21856.020718,2314.098647,5629.065061,0.730961,0.196855,0.011109,...,0,0.281312,0.030477,0.135787,0.028247,0.110590,72440.599897,1084.987995,62659.438499,164898.679419
1,1003,2017-2021,227145.942597,121769.381318,87195.687913,34573.693405,19950.220081,0.825705,0.086971,0.009577,...,0,0.324497,0.046817,0.092056,0.036860,0.124030,82799.586636,1092.978077,64344.975244,226594.717430
2,1005,2017-2021,25259.003259,11667.001748,9088.001231,2579.000517,3434.000167,0.446098,0.472465,0.004197,...,0,0.111531,0.046558,0.264719,0.086242,0.154934,48768.003098,605.000005,36422.003112,89500.007198
3,1007,2017-2021,22412.923327,9013.370563,7083.342930,1930.027633,1503.066135,0.740497,0.218852,0.002053,...,0,0.119151,0.028290,0.169424,0.097065,0.128438,67980.449840,744.017273,54278.356248,102906.556333
4,1009,2017-2021,58883.998197,24526.999311,21299.999399,3226.999912,4434.999931,0.859232,0.012669,0.003668,...,0,0.149036,0.095306,0.132366,0.060237,0.097694,68945.000426,691.000020,52830.000660,138100.002128

In [8]:
census_consolidated = pd.merge(counties, census, how='left', left_on=['fips'], right_on=['geoid_2010'])

In [11]:
census_consolidated.shape

(3142, 27)

In [14]:
census_consolidated.drop(columns=['geoid_2010','year'], inplace=True)

census_consolidated.head()

,fips,county_name,state_code,total_population,housing_units,occupied,vacant,renter_occ,white_perc,black_perc,...,rural_perc,bachelors_perc,hispanic_perc,poverty_perc,unemployment,turnover_perc,med_family_income_adj,med_gross_rent_adj,med_household_income_adj,median_value_adj
0,1001,Autauga County,AL,58239.080916,24170.119365,21856.020718,2314.098647,5629.065061,0.730961,0.196855,...,0.0,0.281312,0.030477,0.135787,0.028247,0.110590,72440.599897,1084.987995,62659.438499,164898.679419
1,1003,Baldwin County,AL,227145.942597,121769.381318,87195.687913,34573.693405,19950.220081,0.825705,0.086971,...,0.0,0.324497,0.046817,0.092056,0.036860,0.124030,82799.586636,1092.978077,64344.975244,226594.717430
2,1005,Barbour County,AL,25259.003259,11667.001748,9088.001231,2579.000517,3434.000167,0.446098,0.472465,...,0.0,0.111531,0.046558,0.264719,0.086242,0.154934,48768.003098,605.000005,36422.003112,89500.007198
3,1007,Bibb County,AL,22412.923327,9013.370563,7083.342930,1930.027633,1503.066135,0.740497,0.218852,...,0.0,0.119151,0.028290,0.169424,0.097065,0.128438,67980.449840,744.017273,54278.356248,102906.556333
4,1009,Blount County,AL,58883.998197,24526.999311,21299.999399,3226.999912,4434.999931,0.859232,0.012669,...,0.0,0.149036,0.095306,0.132366,0.060237,0.097694,68945.000426,691.000020,52830.000660,138100.002128

In [17]:
grants = pd.read_csv(filepath+'Complete_county_level_grants.csv', header=0)
grants.head()

,county,STATE,ST,year,Grants_Made_Amount,Grants_Received_Amount,Population2022,Poverty Estimate,Poverty Percent,Median Household Income
0,autauga,Alabama,AL,2018,0.0,0.0,"59,726","6,988",11.8,"70,148"
1,autauga,Alabama,AL,2019,0.0,7350.0,"59,726","6,988",11.8,"70,148"
2,autauga,Alabama,AL,2020,0.0,219158.0,"59,726","6,988",11.8,"70,148"
3,autauga,Alabama,AL,2021,0.0,114860.0,"59,726","6,988",11.8,"70,148"
4,autauga,Alabama,AL,2022,0.0,301264.0,"59,726","6,988",11.8,"70,148"

In [18]:
grants.drop(columns=['Population2022',	'Poverty Estimate',	'Poverty Percent',	'Median Household Income'], inplace=True)
grants.head()

    county    STATE  ST  year  Grants_Made_Amount  Grants_Received_Amount
0  autauga  Alabama  AL  2018                 0.0                     0.0
1  autauga  Alabama  AL  2019                 0.0                  7350.0
2  autauga  Alabama  AL  2020                 0.0                219158.0
3  autauga  Alabama  AL  2021                 0.0                114860.0
4  autauga  Alabama  AL  2022                 0.0                301264.0

In [21]:
grants.shape

(15720, 6)

In [19]:
census_consolidated['county_name'] = census_consolidated['county_name'].str.lower().str.replace(r'\s+county$', '', regex=True).str.strip()
census_consolidated.head()

,fips,county_name,state_code,total_population,housing_units,occupied,vacant,renter_occ,white_perc,black_perc,...,rural_perc,bachelors_perc,hispanic_perc,poverty_perc,unemployment,turnover_perc,med_family_income_adj,med_gross_rent_adj,med_household_income_adj,median_value_adj
0,1001,autauga,AL,58239.080916,24170.119365,21856.020718,2314.098647,5629.065061,0.730961,0.196855,...,0.0,0.281312,0.030477,0.135787,0.028247,0.110590,72440.599897,1084.987995,62659.438499,164898.679419
1,1003,baldwin,AL,227145.942597,121769.381318,87195.687913,34573.693405,19950.220081,0.825705,0.086971,...,0.0,0.324497,0.046817,0.092056,0.036860,0.124030,82799.586636,1092.978077,64344.975244,226594.717430
2,1005,barbour,AL,25259.003259,11667.001748,9088.001231,2579.000517,3434.000167,0.446098,0.472465,...,0.0,0.111531,0.046558,0.264719,0.086242,0.154934,48768.003098,605.000005,36422.003112,89500.007198
3,1007,bibb,AL,22412.923327,9013.370563,7083.342930,1930.027633,1503.066135,0.740497,0.218852,...,0.0,0.119151,0.028290,0.169424,0.097065,0.128438,67980.449840,744.017273,54278.356248,102906.556333
4,1009,blount,AL,58883.998197,24526.999311,21299.999399,3226.999912,4434.999931,0.859232,0.012669,...,0.0,0.149036,0.095306,0.132366,0.060237,0.097694,68945.000426,691.000020,52830.000660,138100.002128

In [28]:
census_grants = pd.merge(grants, census_consolidated, how='left', left_on=['county', 'ST'], right_on=['county_name', 'state_code'])
census_grants.head()

,county,STATE,ST,year,Grants_Made_Amount,Grants_Received_Amount,fips,county_name,state_code,total_population,...,rural_perc,bachelors_perc,hispanic_perc,poverty_perc,unemployment,turnover_perc,med_family_income_adj,med_gross_rent_adj,med_household_income_adj,median_value_adj
0,autauga,Alabama,AL,2018,0.0,0.0,1001.0,autauga,AL,58239.080916,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
1,autauga,Alabama,AL,2019,0.0,7350.0,1001.0,autauga,AL,58239.080916,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
2,autauga,Alabama,AL,2020,0.0,219158.0,1001.0,autauga,AL,58239.080916,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
3,autauga,Alabama,AL,2021,0.0,114860.0,1001.0,autauga,AL,58239.080916,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
4,autauga,Alabama,AL,2022,0.0,301264.0,1001.0,autauga,AL,58239.080916,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419

In [22]:
census_grants.shape

(15720, 31)

In [29]:
census_grants.drop(columns=['county_name', 'state_code'], inplace=True)
census_grants['county'] = census_grants['county'].str.capitalize()
census_grants.rename(columns={'county':'county_name', 'ST':'state_code', 'STATE':'state'}, inplace=True)
census_grants.head()

,county_name,state,state_code,year,Grants_Made_Amount,Grants_Received_Amount,fips,total_population,housing_units,occupied,...,rural_perc,bachelors_perc,hispanic_perc,poverty_perc,unemployment,turnover_perc,med_family_income_adj,med_gross_rent_adj,med_household_income_adj,median_value_adj
0,Autauga,Alabama,AL,2018,0.0,0.0,1001.0,58239.080916,24170.119365,21856.020718,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
1,Autauga,Alabama,AL,2019,0.0,7350.0,1001.0,58239.080916,24170.119365,21856.020718,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
2,Autauga,Alabama,AL,2020,0.0,219158.0,1001.0,58239.080916,24170.119365,21856.020718,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
3,Autauga,Alabama,AL,2021,0.0,114860.0,1001.0,58239.080916,24170.119365,21856.020718,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419
4,Autauga,Alabama,AL,2022,0.0,301264.0,1001.0,58239.080916,24170.119365,21856.020718,...,0.0,0.281312,0.030477,0.135787,0.028247,0.11059,72440.599897,1084.987995,62659.438499,164898.679419

In [30]:
census_grants.to_csv(filepath + 'census-grants.csv', index=False)